<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand and hamburger -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
        aria-controls="bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Veksle navigasjon</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{ site.baseurl }}/
        {{ site.title | default: "Science under Sail" }}
      </a>
    </div>

    <!-- Collapsible navigation -->
    <div
      class="collapse navbar-collapse"
      id="bs-example-navbar-collapse-1"
    >
      <ul class="nav navbar-nav navbar-right">

        <!-- About -->
        <li>
          {{ site.baseurl }}/#about
            Om oss
          </a>
        </li>

        <!-- Fleet dropdown -->
        <li class="dropdown fleet-dropdown">
          #
            Flåten
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              {{ site.baseurl }}/#fleet
                Oversikt over flåten
              </a>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              {{ site.baseurl }}/vildanden/
                Vildanden Kystlaboratorium
                <small>Forskning fra havbunn til fjell</small>
              </a>
            </li>

            <li>
              {{ site.baseurl }}/salka-valka/
                Salka Valka
                <small>Forskning under seil, fra Norge til verden</small>
              </a>
            </li>
          </ul>
        </li>

        <!-- Services -->
        <li>
          {{ site.baseurl }}/#portfolio
            Tjenester
          </a>
        </li>

        <!-- References -->
        <li>
          {{ site.baseurl }}/#profiles
            Referanser
          </a>
        </li>

        <!-- Contact -->
        <li>
          {{ site.baseurl }}/#contact
            Kontakt
          </a>
        </li>

        <!-- Language dropdown -->
        <li class="dropdown navbar-lang">
          #
            <span
              class="glyphicon glyphicon-globe"
              aria-hidden="true"
            ></span>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a
                href="https://scienceundersail.org/"
                title="English"
              >
                English
              </a>
            </li>

            <li class="active">
              {{ site.baseurl }}/
                Norsk
                <span class="lang-check">✓</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
